@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center/cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
}

#redes {
    text-align: right;
}

#redes img {
    margin: 5px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
    box-sizing: border-box;
}

#redes img:hover {
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
    transform: translate(-2px, -2px);
    transition: transform .5s, border 1s;
}